/node_modules
/public/hot
/public/storage
/public/web/images/game
/public/.setting.php
/public/start.html
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/fronted
/webfronted
webfronted.zip
/.idea
/.vscode
composer.lock
api.http
http-client.env.json
